<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApplication"
            tools:targetApi="31">
        <activity
                android:name=".aplicacion.InglesNivelSeis"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.InglesNivelCinco"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.InglesNivelCuatro"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.InglesNivelTres"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.BanderaNivelCuatro"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.BanderaNivelTres"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.BanderaNivelDos"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.BanderaNivelUno"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.InglesNivelDos"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.InglesNivelUno"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.CalculoNivelNueve"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.CalculoNivelOcho"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.CalculoNivelSiete"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.CalculoNivelSeis"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.CalculoNivelCinco"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.CalculoNivelCuatro"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.CalculoNivelTres"
                android:screenOrientation="portrait"
                android:exported="false"/>
        <activity
                android:name=".aplicacion.CalculoNivelDos"
                android:screenOrientation="portrait"
                android:exported="false"/>

        <activity
                android:name=".aplicacion.CalculoNivelUno"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".aplicacion.JuegoParejas"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".aplicacion.Minijuego"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".aplicacion.MainActivity"
                android:exported="true"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>